name: Test
on:
  push:
  pull_request:
env:
  LOG_LEVEL: debug
jobs:
  preset:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6

      - name: Run tests
        run: ./test.sh
